Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Texture
Content/Assets
Content/MSPresets/
Content/Megascans/
Content/Textures/
Content/Sounds/
Content/LevelPrototyping
Content/Enemy










